[tool.poetry]
name = "e-university-api"
version = "0.1.0"
description = ""
authors = ["Your Name <you@example.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "~3.8"
fastapi = "0.78.0"
pydantic = "1.9.1"
uvicorn = "0.17.6"
asyncpg = "0.25.0"
psycopg2-binary = "2.9.3"
databases = "0.6.0"
translitua = "1.3.1"
python-jose = {version = "3.3.0", extras = ["cryptography"]}
passlib = {version = "1.7.4", extras = ["bcrypt"]}
python-multipart = "0.0.5"
docxtpl = "0.16.0"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
